{% extends 'navbar.html' %}
{% load static %}
{% block title %}Customers List{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-10 col-md-9 col-sm-9 page-col">
  <h2 class="p-4">👥 Customers List</h2>
   <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <form action="{% url 'customers' %}" method="get" class="d-flex">
          <label for="customer-search" class="visually-hidden">Search</label>
          <input type="text" id="customer-search" class="search-input" name="search" style="width:80%; height: 42px;" placeholder="🔍 Search here..." autocomplete="off">
          <button type="submit" class="btn btn-product btn-sm" style="width: 26%; margin-top:0; height: 42px; color: black;">Search</button>
        </form>
      </div>
      {% if customers %}
      <div class="card shadow-sm border-0 rounded-3">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Fullname</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Wallet</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for customer in customers %}
                <tr>
                  <td class="text-nowrap">{{ customer.id }}</td>
                  <td class="text-nowrap">{{ customer.fullname }}</td>
                  <td class="text-nowrap">+91 {{ customer.phone }}</td>
                  <td class="text-nowrap">{{ customer.address }}</td>
                  <td class="text-nowrap">{{ customer.wallet }}</td>
                  <td class="text-nowrap">{% if customer.wallet < 0%}<a href="{% url 'edit_wallet' customer.id %}" class="btn btn-product">Edit</a> {% endif %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% else %}
      <div class="alert alert-warning text-center mt-4" role="alert">
        🚫 No Customer Found!
      </div>
   </div>
  {% endif %}
</div>
{% endblock %}